.ta-center {
	text-align: center;
}

.tt-uppercase {
	text-transform: uppercase;
}

.color {

	&_white {
		color: white;
	}

	&_text-gray {
		color: $main-text-gray;
	}

	&_green {
		color: $main-green;
	}

	&_red {
		color: $main-red;
	}
}

.mb {

	&-10 {
		margin-bottom: 10px;
	}

	&-20 {
		margin-bottom: 20px;
	}
}