$sec-padding: 10px;
$container-max-width: 1000px;
$content-input-width: 360px;

$main-gray: #f7f8fa;
$main-text-gray: #a8a8a8;
$main-green: #1ea01e;
$main-yellow: #fff4b3;
$main-red: #ff0000;

$btn-inactive-bg: #b6d88a;
$btn-active-bg: #0d972b;